h1 {
    text-align: center;
    background-color: blandwood;
}

div {
    display: inline-block;
    max-block-size: fit-content;
    width: 100%;
    margin: 0 auto;
}   

img {
    width: 33.3%;
}
