h1 {
    text-align: center;
    background-color: #fdd5a0;
    font-family: Helvetica;
}

div {
    display: inline-block;
    max-block-size: fit-content;
    width: 50%;
    transform: translate(50%, 0px);
    margin: 0;
}

img {
    width: 32.3%;
}

footer {
    background-color: black;
    color: grey;
    padding: 0px 0px;
    font-size: 25px;
    text-align: center;
    font-family: monospace;
    letter-spacing: 20px;
}
